<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity
    Name="27575MarkGeck.tpcalc"
    Publisher="CN=BF880966-7170-49F6-9CB0-134CD88A45B5"
    Version="1.0.13.0" />
  <mp:PhoneIdentity PhoneProductId="aec3aeb5-98f4-4c94-a471-aeb1a080aefb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>tpcalc</DisplayName>
    <PublisherDisplayName>Mark Geck</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="tpcalc.App">
      <uap:VisualElements DisplayName="tpcalc" Description="A calculator application featuring a minimalist, unobtrusive UI that accepts text-based arithmetic expressions, performs scientific and statistical calculations, and performs integer arithmetic and bitwise boolean logic."
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen BackgroundColor="black" Image="Assets\abacus.png"/>
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>